<% quiz_questions_count = @section.quizzes.count %>

<%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div id="quiz_questions_content">
    <%= f.simple_fields_for :quizzes do |q| %>
      <% if q.object.new_record? %>
        <div>
          <%= q.error_notification %>

          <%= q.input :question %>
          <%= q.input :option1 %>
          <%= q.input :option2 %>
          <%= q.input :option3 %>
          <%= q.input :option4 %>
          <%= q.input :correct_answer, collection: [ ['Option 1', 1], ['Option 2', 2], ['Option 3', 3], ['Option 4', 4] ], include_blank: false %>
          <a class="delete-quiz-question" class="btn" href="#delete">Remove</a>
          <hr>
        </div>
        <% quiz_questions_count = quiz_questions_count + 1 %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add these questions', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), section_quizzes_path(@section), :class => 'btn' %>
  </div>
<% end %>

<%= link_to "<span>+</span> Add More".html_safe(), "#add", :id => "add-another-question", :class=>"button" %>

<script>
  function remove_button(existing_quiz_questions)
  {
    if (existing_quiz_questions > 1)
    {
      $(".delete-quiz-question").show()
    }
    else
    {
      $(".delete-quiz-question").hide()
    }
  }
  
  function add_button(total_quiz_question)
  {
    if (total_quiz_question < 10)
    {
      $("#add-another-question").show()
    }
    else
    {
      $("#add-another-question").hide()
    }
  }
	$(document).ready(function() {
    var new_quiz_question = <%=quiz_questions_count%>;
    var total_quiz_question = <%=quiz_questions_count%>;
    add_button(total_quiz_question)
    remove_button($("#quiz_questions_content").children().length)
    
	  $('a#add-another-question').click(function() {
      
        $('<div><div class="control-group text required section_quizzes_question"><label for="section_quizzes_attributes_'+new_quiz_question+'_question" class="text required control-label" rows="5"><abbr title="required">*</abbr> Question</label><div class="controls"><textarea rows="5" required="required" name="section[quizzes_attributes]['+new_quiz_question+'][question]" id="section_quizzes_attributes_'+new_quiz_question+'_question" cols="40" class="text required"></textarea></div></div><div class="control-group string required section_quizzes_option1"><label for="section_quizzes_attributes_'+new_quiz_question+'_option1" class="string required control-label"><abbr title="required">*</abbr> Option1</label><div class="controls"><input type="text" size="4" required="required" name="section[quizzes_attributes]['+new_quiz_question+'][option1]" id="section_quizzes_attributes_'+new_quiz_question+'_option1" class="string required"></div></div><div class="control-group string required section_quizzes_option2"><label for="section_quizzes_attributes_'+new_quiz_question+'_option2" class="string required control-label"><abbr title="required">*</abbr> Option2</label><div class="controls"><input type="text" size="4" required="required" name="section[quizzes_attributes]['+new_quiz_question+'][option2]" id="section_quizzes_attributes_'+new_quiz_question+'_option2" class="string required"></div></div><div class="control-group string required section_quizzes_option3"><label for="section_quizzes_attributes_'+new_quiz_question+'_option3" class="string required control-label"><abbr title="required">*</abbr> Option3</label><div class="controls"><input type="text" size="4" required="required" name="section[quizzes_attributes]['+new_quiz_question+'][option3]" id="section_quizzes_attributes_'+new_quiz_question+'_option3" class="string required"></div></div><div class="control-group string required section_quizzes_option4"><label for="section_quizzes_attributes_'+new_quiz_question+'_option4" class="string required control-label"><abbr title="required">*</abbr> Option4</label><div class="controls"><input type="text" size="4" required="required" name="section[quizzes_attributes]['+new_quiz_question+'][option4]" id="section_quizzes_attributes_'+new_quiz_question+'_option4" class="string required"></div></div><div class="control-group select required section_quizzes_correct_answer"><label for="section_quizzes_attributes_'+new_quiz_question+'_correct_answer" class="select required control-label"><abbr title="required">*</abbr> Correct answer</label><div class="controls"><select name="section[quizzes_attributes]['+new_quiz_question+'][correct_answer]" id="section_quizzes_attributes_'+new_quiz_question+'_correct_answer" class="select required"><option value="1">Option 1</option><option value="2">Option 2</option><option value="3">Option 3</option><option value="4">Option 4</option></select></div></div><a href="#delete" class="delete-quiz-question" style="display: inline;">Remove</a><hr></div>').appendTo('#quiz_questions_content');
        
        new_quiz_question = new_quiz_question + 1
        total_quiz_question = total_quiz_question + 1
            
        add_button(total_quiz_question)
        remove_button($("#quiz_questions_content").children().length)
	  });

	  $(document).on('click', '.delete-quiz-question',function() {
			$(this).parent().remove();
      total_quiz_question = total_quiz_question - 1			
      add_button(total_quiz_question)
      remove_button($("#quiz_questions_content").children().length)
	  });

	});
</script>
