<%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.simple_fields_for :quizzes do |q| %>
    <%= q.error_notification %>

    <%= q.input :question %>
    <%= q.input :option1 %>
    <%= q.input :option2 %>
    <%= q.input :option3 %>
    <%= q.input :option4 %>
    <%= q.input :correct_answer, collection: [ ['Option 1', 1], ['Option 2', 2], ['Option 3', 3], ['Option 4', 4] ], include_blank: false %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), section_quizzes_path(@section), :class => 'btn' %>
  </div>
<% end %>
