<section>
	<div class="post-content-box">
		<%= render partial: 'blog/posts/post_header', locals: {post: post} %>
		<div class="blog-content">
			<%= truncate_html(post.content, length: 1000, omission: '...') %>
		</div>
		<!-- <ul class="tags">
		<li><a href="javascript:void(0)">mobile learning</a></li>
		<li><a href="javascript:void(0)">e-learning</a></li>
		<li><a href="javascript:void(0)">Innovation</a></li>
		</ul> -->
		<div class="blog-posted">
			<div class="posted">
				<span class="date-time">
					<img alt="" src="/assets/calender-icon.png">
					<time datetime="<%= post.published_at %>"> <%= I18n.localize(post.published_at.to_date, format: :long) %> </time>
					<span class="user-name"><%= post.user.name %></span>
				</span>
				<!-- <span class="comment">
					<img alt="" src="/assets/comment-icon.png">
					<span>0</span>
				</span> -->
				<span class="readmore-btn">
					<a href="javascript:void(0)">
						<%= link_to t(".readmore"), post.full_url %>
						<img alt="" src="/assets/rm-arrow.png">
					</a>
				</span>
			</div>
		</div>
		<!-- <div class="tags" data-blog="tags">
		    <%= render post.tags %>
		    
		</div> -->
	</div>
</section>