<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, "personal") %>

<!--Start Main Content Area-->
<div class="main-content-area wrapper">
	<!--Start Personal Page Area-->
	<div class="personal-setting-form">

		<div class="row-fluid">

			<div class="span3">
				<%= image_tag((current_user.profile_pic_url.present?) ? current_user.profile_pic_url : "no-thumbnail-large.jpg") %>
				
				<%= form_for(:user_profile, url: upload_profile_pic_path, remote: true, html: { method: :post, multipart: true, id: 'profile_pic_upload_form' }) do |form| %>
      				<%= form.file_field :profile_pic, style: 'display: none;' %>
    			<% end %>
				<%= link_to "javascript:void(0);", id: "profile_pic_upload_link"  do %>
					<label for="upload-your-profile-pic">Upload Your Profile Pic</label>
				<% end %>
			</div>

			<div class="span9 fr">

				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
    				<%= f.error_notification %>
					<div class="row-fluid">
						<div class="span6">
							<div class="form-group fr">
								<%= f.input :full_name, label: false, autofocus: true, placeholder: "Your Full Name" %>
							</div>
						</div>

						<div class="span6">
							<div class="form-group fr">
								<%= f.input :email, required: true, label: false, placeholder: "Your Email" %>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<div class="form-group fr">
								<%= f.input :sex, label: 'Gender', as: :select, collection: [['Male', true], ['Female', false]], :include_blank => false %>
							</div>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span6">
							<div class="form-group fr">
                <%= f.input :password, required: false, class: 'form-control', label: false, placeholder: "New Password" %>
							</div>
						</div>
						<div class="span6">
							<div class="form-group fr">
                <%= f.input :password_confirmation, required: false, class: 'form-control', placeholder: "Password Confirmation", label: false %>
							</div>
						</div>
					</div>

					<div class="row-fluid description-field">
            <%= f.input :description, label: false, placeholder: "You can write some description here" %>
					</div>

					<div class="row-fluid">

						<div class="span12">
							<div class="form-group current-password-field">
								<%= f.input :current_password, label: "We need your current password to confirm your changes.", class: "form-control", id: 'current-password', required: true, placeholder: 'Your Current Password' %>
							</div>
						</div>

					</div>
					
					<div class="update-button">
						<%= f.button :submit, "Update", class: "btn btn-default" %>
					</div>

				<% end %>
			</div>

		</div>

	</div>
	<!--End Personal Page Area-->
</div>
<!--End Main Content Area-->
<%= javascript_tag do %>
  $(function() {
    $("#profile_pic_upload_link").click(function() {
      $("#user_profile_profile_pic").click();
    });

    $("#user_profile_profile_pic").change(function() {
      $(this).closest('form').trigger('submit.rails');
    });
  });
<% end %>