<span class="sprite fblogin"></span>
<h2>OR</h2>
<p class="m15">Sign Up with your email:</p>
<p>
  <span class='error' style='color: red; display: none;'>Signup failed!</span>
</p>
</br>
<%= simple_form_for(resource, url: user_registration_path, method: :post, format: :json, remote: true) do |f| %>
  <p>
    <%= f.label :type, 'Learner' %>
    <%= f.radio_button :type, 'Learner', class: 'sprite name' %>
    <%= f.label :type, 'Teacher' %>
    <%= f.radio_button :type, 'Teacher', class: 'sprite name' %>
  </p>
  <p>
    <%= f.text_field :full_name, placeholder: 'Full Name', class: 'sprite name', required: true %>
  </p>
  <p>
    <%= f.email_field :email, placeholder: 'E-mail', class: 'sprite email', required: true %>
  </p>
  <p>
    <%= f.password_field :password, placeholder: 'Password', class: 'sprite pass', required: true %>
  </p>
  <span class="login-info">
    <span class="fleft m1">Already have an account?&nbsp;&nbsp; <%= link_to "LOGIN", "javascript:login();" %></span>
    <%= f.submit 'SIGN UP', class: 'sprite fright sml-btn' %>
  </span>
<% end %>
<p class="sml-font">By signing up, you agree to our <u>Terms of Use and Privacy Policy</u></p>