<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :type, label: 'Why are you using GrowthValley?', collection: User::USER_ROLES, required: true %>
    <%= f.association :subjects, label: 'Please choose the subject you are most equipped to teach. (Choose upto 3)', include_blank: false, required: true %>
    <%= f.input :description, label: 'Please share a bit about your self with the Growth Valley community' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_tag do %>
  $(function() {
    if($('#user_type').val() == '') {
      $('div.user_subjects').hide();
    }
    $('#user_type').change(function() {
      if($('#user_type').val() == 'Teacher') {
        $('div.user_subjects').find('label').html("<abbr title=\"required\">*</abbr> Please choose the subject you are most equipped to teach. (Choose upto 3)");
        $('div.user_subjects').show();
      }
      else if($('#user_type').val() == 'Learner') {
        $('div.user_subjects').find('label').html("<abbr title=\"required\">*</abbr> Please choose a subject you would like to learn more about (Choose upto 3)");
        $('div.user_subjects').show();
      }
      else {
        $('div.user_subjects').hide();
      }
    });
  });
<% end %>
