<%= simple_form_for @quiz, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :answers do |a| %>
    <%= a.input :title, label: 'Enter your answer', required: true %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Finish', :class => 'btn-primary' %>
    <%= link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), course_path(@quiz.section.course), :class => 'btn' %>
  </div>
<% end %>
