<%= simple_form_for @quiz, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :questions do |q| %>
    <%= q.input :title, label: 'Enter your question', required: true %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Continue', :class => 'btn-primary' %>
    <% if @quiz.new_record? %>
      <%= link_to t('.back', :default => t("helpers.links.back")), new_quiz_path(section_id: @quiz.section.id), :class => 'btn' %>
    <% else %>
      <%= link_to t('.back', :default => t("helpers.links.back")), edit_quiz_path(@quiz), :class => 'btn' %>
    <% end %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), course_path(@quiz.section.course), :class => 'btn' %>
  </div>
<% end %>
