<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_subjects') %>
<% content_for(:title, 'GrowthValley > My Account > Subjects') %>
<div class="main-content-area wrapper my-subjets-page">

  <h4>Choose My Subjects</h4>

  <div class="row-fluid">
    <!--Start First Column-->
    <%= form_tag update_user_subjects_path do %>
      <% @subjects.in_groups_of(4, false) do |subj| %>
        <div class='row-fluid'>
          <% subj.collect do |s| %>
            <div class='span3'>
              <div class="btn-group" >
                <% if @current_subjects.include?(s.id) %>
                <%= label_tag s.name, s.name, class: 'btn active', onclick:'change_class(this);' do %>
                  <%= s.name %>

                  <%= check_box_tag "user[subject_ids][]", s.id, @current_subjects.include?(s.id), class: "subject",style:"display:none" ,class:"subject"%> 
                  <img src="/../../assets/green-tick.png" onclick="change_check2();">
                  <% end %>

                  <% else %>
                  <%= label_tag s.name, s.name, class: 'btn' ,onclick:'change_class(this);' do %>
                  <%= s.name %>
                   <%= check_box_tag "user[subject_ids][]", s.id, @current_subjects.include?(s.id) ,class:'subject',onclick:"change_check(this);" %>
                   <img src="/../../assets/green-tick.png" class="subjects" style="display:none" onclick="change_check2(this);" > 
               <% end %>

     
                   

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
    </br>
      <div class='row-fluid'>
        <div class='span3'>

          <%= submit_tag 'Add Subjects', class: 'btn btn-gray', onclick: "return count_subjects();" %>

        </div>
      </div>
      <% end %>
  </div>    
</div>
<!--End Main Content Area-->
    <% if false %>
      <%= render :partial=>"layouts/inner_nav", :locals=>{:current => "subject"} %>

      <h1> Subjects </h1>
    </br>
    <%= form_tag update_user_subjects_path do %>
    <% @subjects.in_groups_of(4, false) do |subj| %>
    <div class='row-fluid'>
      <% subj.collect do |s| %>
      <div class='span3'>
        <%= check_box_tag "user[subject_ids][]", s.id, current_user.subjects.include?(s), style: "float: left; margin-right: 5px;", class: "subject" %>
        <%= label_tag s.name, s.name, style: "margin-top: -2px;" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </br>
  <div class='row-fluid'>
    <div class='span3'>
      <%= submit_tag 'Add Subjects', class: 'btn btn-gray', onclick: "return count_subjects();" unless current_user.subjects.count == 3 %>
    </div>
  </div>
  <% end %>
  <% end %>
  <script>
    function count_subjects()
    {
     if ($( "input[class='subject']:checked" ).length < 3)
     {
      alert("Please select at least 3 subjects");
      return false;
    }
  }

function change_check(ids)
  {
   $(ids).css("display","none");
  var res=$(ids).parent().find("img").css("display","block");
}
 function change_check2(imag)
  {

  var res=$(imag).parent().find("input[type='checkbox']").css("display","block");
  $(imag).parent().find("input[type='checkbox']").attr("checked",false);
   $(imag).css("display","none");
}
function change_class(res){


  if($(res).hasClass("btn active"))
  {
    $(res).removeClass("btn active");
     $(res).addClass("btn");
      $(res).find("img").css("display","none");
    $(res).find("input[type='checkbox']").css("display","block");
    $(res).find("input[type='checkbox']").attr("checked",false);
    
    
  }
  else if($(res).hasClass("btn"))
    {
      $(res).removeClass("btn");
     $(res).addClass("btn active");
     $(res).find("img").css("display","block");
    $(res).find("input[type='checkbox']").css("display","none");
    $(res).find("input[type='checkbox']").attr("checked",true);

    }
}


</script>
