<%= render :partial=>"layouts/inner_nav", :locals=>{:current => "subject"} %>

<h1> Subjects </h1>
</br>
<%= form_tag update_user_subjects_path do %>
  <% @subjects.in_groups_of(4, false) do |subj| %>
    <div class='row-fluid'>
      <% subj.collect do |s| %>
        <div class='span3'>
          <%= check_box_tag "user[subject_ids][]", s.id, current_user.subjects.include?(s), style: "float: left; margin-right: 5px;", class: "subject" %>
          <%= label_tag s.name, s.name, style: "margin-top: -2px;" %>
        </div>
      <% end %>
    </div>
  <% end %>
  </br>
  <div class='row-fluid'>
    <div class='span3'>
      <%= submit_tag 'Add Subjects', class: 'btn btn-primary', onclick: "return count_subjects();" unless current_user.subjects.count == 3 %>
    </div>
  </div>
<% end %>

<script>
function count_subjects()
{
	if ($( "input[class='subject']:checked" ).length != 3)
	{
		alert("Please select 3 subjects");
		return false
	}
	else
	{
		res = confirm("You cannot change your subjects in future! Press ok to confirm?")
		return res
	}
}
</script>
