<%= render :partial => "layouts/inner_nav", :locals => { :current => "exam" } %>

<div class="page-header">
  <h1><%=t '.title', :default => "Exams Pending for Review" %></h1>
</div>

<% if @learners_exams.present? && @exams.uniq.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Exam Name</th>
        <th>Learner Name</th>
        <th>Reviewed?</th>
      </tr>
    </thead>
    <tbody>
      <% count = 0 %>
      <% @exams.uniq.each do |exam| %>
        <% count = count + 1 %>
        <% exam_learner ||= exam.learners_exams.order('id asc')[count - 1].user %>
        <% exam_reviewed = Subscription.where(user_id: exam_learner.id, course_id: exam.course.id).first.progress == 'exam reviewed' %>
        <tr>
          <td><%= "#{exam.title.titleize} - Question #{count}" %></td>
          <td><%= exam_learner.full_name.titleize %></td>
          <td><%= exam_reviewed %></td>
          <td>
            <% if !exam_reviewed %>
              <%= link_to 'Review', review_exam_path(exam_id: exam.id) %>
            <% else %>
              <%= link_to 'View Result', review_exam_path(exam_id: exam.id) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
