<%- model_class = Answer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:option_1) %>:</strong></dt>
  <dd><%= @answer.option_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option_2) %>:</strong></dt>
  <dd><%= @answer.option_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option_3) %>:</strong></dt>
  <dd><%= @answer.option_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option_4) %>:</strong></dt>
  <dd><%= @answer.option_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:correct_option) %>:</strong></dt>
  <dd><%= @answer.correct_option %></dd>
  <dt><strong><%= model_class.human_attribute_name(:question_id) %>:</strong></dt>
  <dd><%= @answer.question_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), section_question_answers_path(@section, @question), :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_section_question_answer_path(@section, @question, @answer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), section_question_answer_path(@section, @question, @answer), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
</div>
