<div class="main-content courses">
  <div id="filter">
    <h1 class="fleft">Contact</h1>
    <div class="clear"></div>
    <div class="contact span5 offset2" style="margin-top:20px;">
    
    <%= form_tag(contact_us_path, method: :post, multipart: true) %>
	    <ul>
	      <li>
	        <%= text_field_tag :name, '', placeholder: 'name', required: true, id: 'name', class: 'sprite' %>
	      </li>
	      <li>
	        <%= email_field_tag :email, '', placeholder: 'E-Mail', required: true, id: 'email', class: 'sprite email', style: 'padding-left: 30px; width: 192px;' %>
	      </li>
	      <li>
	        <%= text_area_tag :message, '', placeholder: 'message', required: true, id: 'message', class: 'text sprite' %>
	      </li>
	      <li>
	        <%= recaptcha_tags %>
	      </li>
	      <li>
	        </br>
		      <input name="OK" type="submit" value="" class="sprite" />
	      </li>
	    </ul>
    

    </div>
    <div class="clear"></div>
  </div>
</div>
<%= javascript_tag do %>
  $(function() {
    $('#recaptcha_response_field').attr('required', true);
  });
<% end %>
