<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'dashboard') %>
<% content_for(:title, 'GrowthValley > Home > Dashboard') %>
<div class="main-content-area wrapper my-dashboard">
   <div class="dashboard-wrapper">
   		<div class="course-description">
            	<div class="c-desp">
                <span class="c-desp-title">Course Subscriptions:</span> 
                <div class="c-desp-course">
                <% if @my_subjects.count == 0 %>
						<span>You have not subscribed any subject yet.</span>
						<% else %>
						<span>
							<% @my_subjects.each do |subject| %>					
							<%=link_to(subject.name, courses_path(:subject=>subject.slug))%>							
							<% end %>
						</span>
						<% end %>
						<% if @my_subjects.count < 3 %>
						<span class="add_subscriptions"><%=link_to("Add a subscription", user_subjects_path)%></span>
						<% end %>
				</div>		
                </div>
                <% if current_user.type == "Learner" %>
                <p class="c-publish">
                <span class="c-desp-title">Course Completed:</span> 
                <span class="t-view-course"><%=current_user.subscriptions.where("user_type = ? and complete = true",current_user.type).count()%>
                </span>
                <%=link_to "View Courses", my_courses_courses_path()%>
                </p>
                <p class="c-publish">
                <span class="c-desp-title">Course Unfinished:</span> 
                <span class="t-view-course"><%=current_user.subscriptions.where("user_type = ? and complete = false",current_user.type).count()%>
                </span>
                <%=link_to "Go finish", my_courses_courses_path()%>
                </p>
                <% else %>
                      <p class="c-publish">
                <span class="c-desp-title">Course Published:</span> 
                <span class="t-view-course"><%=current_user.courses.where("is_published = true").count()%>
                </span>
               <%=link_to "View Courses", my_courses_courses_path()%>
                </p>
                <p class="c-publish">
                <span class="c-desp-title">Course Un-Published:</span> 
                <span class="t-view-course"><%=current_user.courses.where("is_published = false").count()%>
                </span>
                <%=link_to "Publish Courses", my_courses_courses_path()%>
                </p>
           <% end %>
            </div>
            
            <% @my_subjects.each do |subject| %>
			<% if subject.courses.all_published.count > 0 %>
			<div class="row-fluid">
				<h4><%=subject.name.capitalize%> Courses</h4>
				<ul class="dashboard-course-panel">
				<% subject.courses.all_published.order("created_at desc").limit(3).each do |course| %>
					<%= render partial: "courses/single_course", :locals=>{:course => course} %>
				<% end %>
				</ul>
			</div>		
			<% end %>		
			<% end %>
			<% @other_subjects.each do |subject| %>
			<% if subject.courses.all_published.count > 0 %>
			<div class="row-fluid">
				<h4><%=subject.name.capitalize%> Courses</h4>
				<ul class="dashboard-course-panel">
				<% subject.courses.all_published.order("created_at desc").limit(3).each do |course| %>
					<%= render partial: "courses/single_course", :locals=>{:course => course} %>
				<% end %>
				</ul>
			</div>		
			<% end %>		
			<% end %>   
  </div>
</div>
<!--End Main Content Area-->
<!--Start dashboard-notification Area-->
		<div class="dashboard-notification">
        	<div class="dashboard-notification-wrapper">
    		<h4>Whats going on?</h4>
            	<% if @notifications.count > 0 %>
					<% @notifications.each do |notification| %>
						<p>
							<span class="date"><%= time_ago_in_words(notification.created_at.strftime("%d-%m-%Y %H:%M %z")) %> ago
							</span>
						  	<span class="notification-content">
						  		<em><%= notification["message"].html_safe() %></em>
						  	</span>		
						</p>
					<% end %>
					<% if @notifications.present? %>
						<p class="view-all-btn"><%=link_to("View All", notification_path)%></p>
					<% end %>
					<% else %>
						<p style="text-align:center;">No notifications!!</p>
					<% end %>            
            </div>
    	</div>
<!--Start dashboard-notification Area-->

