    <!--Start Hero Section-->
    <div id="hero">
        <h1>Become a web business guru.</h1>
        <h3>Take control of your SaaS or e-Commerce website.<br>Learn Marketing, Strategy, Coding, and more.</h3>
        <a href="#" class="create-account-btn green-button">Create my account</a><br>
        <a href="#" class="learn-more">Learn more</a>
    </div>
    <!--End Hero Section-->
    
    <!--Start Teaser Section-->
    <div class="teaser_content">
        <h1>What will I be learning?</h1>
        <div class="row-fluid">
            <div class="span4">
                <%= image_tag("marketing.png") %>
                <h3>Marketing</h3>
                <p>Learn effective cash-conscience marketing practices to ensure a high return on your customer acquisition costs.</p>
            </div>    
            
            <div class="span4">
                <%= image_tag("strategy.png") %>
                <h3>Strategy</h3>
                <p>Business owners can't afford to make mistakes. Learn efficiency and acute focus methodologies to maximize growth and value.</p>
            </div>    
            
            <div class="span4">
                <%= image_tag("launching.png") %>
                <h3>Strategy</h3>
                <p>Business owners can't afford to make mistakes. Learn efficiency and acute focus methodologies to maximize growth and value.</p>
            </div>    
    </div>        
        
        <div class="row-fluid">
            <div class="span4">
                <%= image_tag("coding.png") %>
                <h3>Coding</h3>
                <p>Whether you want to be able to develop your own app or ensure you arent getting ripped off by developers, learning some tech is a good idea.</p>
            </div>    
            
            <div class="span4">
                <%= image_tag("launching.png") %>
                <h3>Product Launch</h3>
                <p>Learn the best way to launch your application or website. Ensure early customer traction and prove your business models. </p>
            </div>    
            
            <div class="span4">
                <%= image_tag("launching.png") %>
                <h3>Analytics</h3>
                <p>Develop a strong understanding of your customers and their needs with guidance with KPI metrics and analysis training. </p>
            </div>    
    </div>        
        <div class="more-cources-btn">
          <a href="#" class="green-button">More Cources</a>
        </div>    
        <div class="clearfix"></div>
    </div>
    <!--End Teaser Section-->
    
    <!--Start How it works Section-->
    <div class="how-it-works">
      <div class="how-it-works-inner">
        <h1>How it works</h1>
            
            <div class="row-fluid">
              <div class="span8">
                  <h3>Tell us your goals</h3>
                    <p>Looking to optimize your marketing? Need stronger backend programming skills? Whatever your needs are, our team will design a custom roadmap to help you achieve your goals. </p>
                </div>
                <div class="span4"><%= image_tag("tell.png") %></div>
            </div>
            
            <div class="row-fluid">
              <div class="span8 fr">
                  <h3>Start courses free</h3>
                    <p>Stop taking chances on courses that arent right for you. Stop wasting money on memberships you hardly use. Test the quality of courses BEFORE paying a dime. </p>
                </div>
                <div class="span4 fl"><%= image_tag("start_course.png") %></div>
            </div>
            
            <div class="row-fluid">
              <div class="span8">
                  <h3>Love it? Pay what you want!</h3>
                    <p>Learning is an investment of your time and money. Take some control and pay what you feel courses are worth.<br> <a href="#">How does this work?</a></p>
                </div>
                <div class="span4"><%= image_tag("like_course.png") %></div>
            </div>
            
            <div class="row-fluid">
              <div class="span8 fr">
                  <h3>Get private instruction.</h3>
                    <p>Need a slower walk-through? No problem... Are you a quick learner? We got you covered. Experts are waiting to work one-on-one and provide customization to your learning process. Work with instructors without ever leaving our platform.</p>
                </div>
                <div class="span4 fl"><%= image_tag("issues.png") %></div>
            </div>
            
            <div class="row-fluid">
              <div class="span8">
                  <h3>Pay securely</h3>
                    <p>Pay safely for courses and private instruction. Safely release funds to instructors as milestones are hit.</p>
                </div>
                <div class="span4"><%= image_tag("pay.png") %></div>
            </div>
            
            <div class="row-fluid">
              <div class="span8 fr">
                  <h3>Follow our content</h3>
                    <p>Stay up to date with the latest news, trends, and best practices in your respective industry. Our content is updated consistently by REAL experts and industry professionals.</p>
                </div>
                <div class="span4 fl"><%= image_tag("blog.png") %></div>
            </div>
            
        </div>
    </div>
    <!--End How it works Section-->
    
    <!--Start Why Learn on GrowthValley Section-->
    <div class="why-learn-on-growthvalley">
      <div class="why-learn-on-growthvalley-inner">
        <h1>Why Learn on GrowthValley</h1>
            <p>Me and the rest of the GV team look to share our experiences in web business with you as well as hear yours. We look to provide a platform that encourages growth and collaboration in the spaces of design, marketing, business, strategy, and coding. We look to encourage, empower, and educate simultaneously while also learning from some of you as well. We have compiled battle tested marketing strategies, optimization campaigns, beginner proof code examples, and more to give you the edge you need to take your web business to the next level. Whether your a experienced webpreneur or don’t know what deploying is I can guarantee you will find GrowthValley a valuable source for learning, referencing, and collaborating. Thank you for taking the time to read this long message ( usually a big no no in web copy) but I had a feeling you would get through it ;) …</p>
      </div>
    </div>
    <!--End Why Learn on GrowthValley Section-->
    
    <!--Start Testimonmial section-->
    <div class="testimonial-section">
      <div class="testimonial-inner">
          <div class="row-fluid">
              <p>"I started working with one of the GV team members 6 months ago. Since then I have a better understanding of my traffic analytics, business metrics, and customer value. My marketing is 100 x's more effective and I am increasing profit consistently every month."</p>
                <div class="testimonial-img"></div>
                <div class="testimonial_whois fr">This guy i know, @ This company he works at</div>
                <div class="see-full-story fl"><a href="#">See the full story-></a></div>
            </div>
        </div>
    </div>
    <!--End Testimonmial section-->
    
    <!--Start How to get started section-->
    <div class="how-to-get-started">
        <h1>How to get started:</h1>
      <div class="how-to-get-started-inner">
            <ol>
                <li>1. Have a passion to grow and succeed.</li>
                <li>2. Realize there is room for improvementand expansion.</li>
                <li class="identify">3. Identify what you need to meet your goals.</li>
                <li>4. Enroll in your first course!</li>
            </ol>   
        </div>
    </div>
    <!--End How to get started section-->
    
    <!--Start Check out the Blog Section-->
    <div class="check-out-blog">
      <div class="check-out-blog-inner">
          <h1>Check out the Blog</h1>
            
            <div class="single-post">
              <h4><a href="#">How to determine what your website's visitors are worth</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">The profitable way to market</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">The right way to get the word out about your web business</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">Are your analytics telling you something you arent hearing?</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">Why your struggling to build your founding team</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">Do you really need to learn how to code?</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
            <div class="single-post">
              <h4><a href="#">Ruby vs Python vs PHP vs This vs That</a></h4>
                <div class="read-more"><a href="#">Read more</a></div>
            </div>
            
        </div>
    </div>
    <!--End Check out the Blog Section-->
    