<%= render :partial => "layouts/inner_nav", :locals => { :current => "course" } %>

<%= simple_form_for @course, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <% if @course.sections.count > 0 %>
  <div class="control-group">
    <label class="control-label">
      <b>Existing sections count:</b>
    </label>
    <div class="controls">
      <label style="margin-top: 5px;">
        <b><%= @course.sections.count %></b>
      </label>
    </div>
  </div>
  <% end %>
  <%= f.input :sections_count, label: 'How many sections do you want to add?', collection: @course.sections_count_range, include_blank: false, required: true %>

  <div class="form-actions">
    <%= f.button :submit, 'Continue', :class => 'btn-primary' %>
    <%= link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), my_courses_courses_path, :class => 'btn' %>
  </div>
<% end %>
