<%= render :partial => "layouts/inner_nav", :locals => { :current => "course" } %>

<%= simple_form_for @course, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :sections do |s| %>
    <%= s.input :title, required: true %>
    <%= s.hidden_field 'course_id', value: @course.id %>

    <% if !s.object.new_record? && s.object.attachment.present? %>
      <%= s.input :attachment, required: false %>
      <%= s.label 'existing_attachment', raw("<strong>Existing Attachment:</strong> #{s.object.attachment_url}") %>
      <%= s.input :_destroy, label: 'Remove attachment', as: :radio %>
    <% else %>
      <%= s.input :attachment, required: true %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Finish', :class => 'btn-primary' %>
    <%= link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), courses_path, :class => 'btn' %>
  </div>
<% end %>
