<%= render :partial => "layouts/inner_nav", :locals => { :current => "course" } %>

<%= simple_form_for @course, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <% if current_user.subscription_type == 'free' %>
    <%= f.input :subject_id, label: 'Subject', collection: current_user.subjects, include_blank: false, input_html: { required: true, multiple: false } %>
  <% else %>
    <%= f.input :subject_id, label: 'Subject', collection: Subject.all, include_blank: false, input_html: { required: true, multiple: false } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Continue', :class => 'btn-primary' %>
    <% if @course.is_paid %>
      <%= link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, :class => 'btn' %>
    <% else %>
      <%= link_to t('.back', :default => t("helpers.links.back")), edit_course_path(@course), :class => 'btn' %>
    <% end %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), my_courses_courses_path, :class => 'btn' %>
  </div>
<% end %>
