<%= render :partial => "layouts/inner_nav", :locals => { :current => "course" } %>

<%= simple_form_for @course, url: wizard_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <% if @course.content_type.present? %>
  <%= f.input :content_type, label: 'Course Type', :value=>@course.content_type, :readonly=>true %>
  <% else %>
  <%= f.input :content_type, label: 'Course Type', collection: Course::CONTENT_TYPES, include_blank: false, required: true %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, 'Continue', :class => 'btn-primary' %>
    <%= link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), my_courses_courses_path, :class => 'btn' %>
  </div>
<% end %>
