<%= simple_form_for(resource, url: user_session_path, method: :post, format: :json, remote: true) do |f| %>
  <div class='error' style='color: red; margin: 2ex; display: none;'></div>
  
  <p>
    <%= f.email_field :email, placeholder: 'E-mail', class: 'sprite email', required: true %>
  </p>
  <p>
    <%= f.password_field :password, placeholder: 'password', class: 'sprite pass', required: true %>
  </p>
  <p>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, style: 'display: inline;' %>
  </p>
  <span class="login-info">
    <span class="fleft m1">Not a member yet?&nbsp;&nbsp; <%= link_to "SIGN UP", "javascript:signup();" %></span>
    <%= submit_tag 'login', value: 'LOGIN', class: 'sprite fright sml-btn' %>
  </span>
  <span class="fleft m1">
    <%= link_to "Forgot Password", new_user_password_path %>
  </span>
  <span class="fleft m1" style="clear: left;">
    <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
  </span>
<% end %>
