<% exam_questions_count = 0 %>
<%- model_class = ExamQuestion -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= simple_form_for [@exam.course, @exam], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div id="exam_questions_content">
  <%= f.simple_fields_for :exam_questions do |q| %>
    <div>
    <%= q.error_notification %>

    <%= q.input :question, :label=>"Question", required: true, :class=>"examquestions" %>
    <a class="delete-exam-question" class="button" href="#delete">Remove</a>
    </div>
    <% exam_questions_count = exam_questions_count + 1 %>
  <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Create Exam Question(s)', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), course_exam_exam_questions_path(@exam.course, @exam), style: 'margin-left: 5px;' %>
  </div>
<% end %>
<%= link_to "<span>+</span> Add More".html_safe(), "#add", :id => "add-another-question", :class=>"button" %>


<script>
  function remove_button(total_exam_question)
  {
    if (total_exam_question > 3)
    {
      $(".delete-exam-question").show()
    }
    else
    {
      $(".delete-exam-question").hide()
    }
  }
  
  function add_button(total_exam_question)
  {
    if (total_exam_question < 10)
    {
      $("#add-another-question").show()
    }
    else
    {
      $("#add-another-question").hide()
    }
  }
	$(document).ready(function() {
    var new_exam_question = <%=exam_questions_count%>;
    var total_exam_question = <%=exam_questions_count%>;
    add_button(total_exam_question)
    remove_button(total_exam_question)
    
	  $('a#add-another-question').click(function() {
      
        $('<div><div class="control-group text required exam_exam_questions_question" rows="5"><label for="exam_exam_questions_attributes_'+new_exam_question+'_question" class="text required control-label" rows="5"><abbr title="required">*</abbr> Question</label><div class="controls"><textarea rows="5" required="required" name="exam[exam_questions_attributes]['+new_exam_question+'][question]" id="exam_exam_questions_attributes_'+new_exam_question+'_question" cols="40" class="text required"></textarea></div></div><a class="delete-exam-question" class="button" href="#delete">Remove</a></div>').appendTo('#exam_questions_content');
        
        new_exam_question = new_exam_question + 1
        total_exam_question = total_exam_question + 1
            
        add_button(total_exam_question)
        remove_button(total_exam_question)
	  });

	  $(document).on('click', '.delete-exam-question',function() {
			$(this).parent().remove();
      total_exam_question = total_exam_question - 1			
      add_button(total_exam_question)
      remove_button(total_exam_question)
	  });

	});
</script>
