<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_courses') %>
<% content_for(:title, 'GrowthValley > My Courses > Courses') %>
<% if @edit == false %>
<% exam_questions_count = 0 %>
<% min_check = 3 %>
<% else %>
<% min_check = 1 %>
<% exam_questions_count = @exam.exam_questions.count%>
<% total_questions_count = @exam.exam_questions.count%>
<% end %>
<%- model_class = ExamQuestion -%>
<div class="main-content-area my-courses-table">
<div class="wrapper">
     <div class="mycourses-all">
    <ul class="breadcrumb">
    <li><a href="javascript:void(0)">Courses</a> <span class="divider"></span></li>
  <li><a href="javascript:void(0)">Manage Exams</a><span class="divider"></span></li>
   <li><a href="javascript:void(0)">Add New Question</a></li>
</ul>
<%= simple_form_for [@exam.course, @exam], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div id="exam_questions_content" class="add-content">
  <%= f.simple_fields_for :exam_questions do |q| %>
  <% if (q.object.new_record? and @edit == true) or @edit == false %>
    <div class="singlequestion">
    <%= q.error_notification %>

    <%= q.input :question, :label=>"Question", required: true, :class=>"examquestions" %>
    <a class="delete-exam-question" class="button" href="#delete">Remove</a>
    <hr>
    </div>
    <% exam_questions_count = exam_questions_count + 1 %>
  <% end %>
  <% end %>
  </div>
  <%= link_to "Add More".html_safe(), "#add", :id => "add-another-question", :class=>"btn btn-gray" %>
  <p class="sub-add">
    <%= f.button :submit, 'Create Exam Question(s)', :class => 'btn-green' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), course_exam_exam_questions_path(@exam.course, @exam), :class => 'btn btn-cancel' %>
  </p>
<% end %>
</div>
</div>

<script>
function remove_button()
  {
    if ($(".singlequestion").length > <%=min_check%>)
    {
      $(".delete-exam-question").show()
    }
    else
    {
      $(".delete-exam-question").hide()
    }
  }
    
  function add_button(total_exam_question)
  {
    if (total_exam_question < 10)
    {
      $("#add-another-question").show()
    }
    else
    {
      $("#add-another-question").hide()
    }
  }
  
  $(document).ready(function() {
    var new_exam_question = <%=exam_questions_count%>;
    var total_exam_question = <%=exam_questions_count%>;
    add_button(total_exam_question)
    remove_button()
    
    $('a#add-another-question').click(function() {
      
        $('<div class="singlequestion"><div class="control-group text required exam_exam_questions_question" rows="5"><label for="exam_exam_questions_attributes_'+new_exam_question+'_question" class="text required control-label" rows="5"><abbr title="required">*</abbr> Question</label><div class="controls"><textarea rows="5" required="required" name="exam[exam_questions_attributes]['+new_exam_question+'][question]" id="exam_exam_questions_attributes_'+new_exam_question+'_question" cols="40" class="text required"></textarea></div></div><a class="delete-exam-question" class="button" href="#delete">Remove</a><hr></div>').appendTo('#exam_questions_content');
        
        new_exam_question = new_exam_question + 1
        total_exam_question = total_exam_question + 1
            
        add_button(total_exam_question)
        remove_button()
    });

    $(document).on('click', '.delete-exam-question',function() {
      $(this).parent().remove();
      total_exam_question = total_exam_question - 1     
      add_button(total_exam_question)
      remove_button()
    });

  });
</script>
