<%- model_class = ExamQuestion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:question) %>:</strong></dt>
  <dd><%= @exam_question.question %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_id) %>:</strong></dt>
  <dd><%= @exam_question.exam.title %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), course_exam_exam_questions_path(@exam.course, @exam) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_exam_exam_question_path(@exam.course, @exam, @exam_question), style: 'margin-left: 5px;' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_exam_exam_question_path(@exam.course, @exam, @exam_question), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
  <%= link_to t('.back', :default => 'Back to courses'), courses_path, style: 'margin-left: 5px;' %>
</div>
