<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_courses') %>
<% content_for(:title, 'GrowthValley > My Courses > Courses') %>
<%- model_class = ExamQuestion -%>
<div class="main-content-area my-courses-table">
  <div class="wrapper">
     <div class="mycourses-all">
    <ul class="breadcrumb">
    <li><a href="javascript:void(0)">Courses</a> <span class="divider"></span></li>
    <li><a href="javascript:void(0)">Exam Questions</a></li>
    </ul>
    </div>
    </div>
<div class="table-responsive">
<table id="courses_manageExams" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:exam_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>  
    <tbody>
      <tr>
        <td><%= @exam_question.question %> 
         <%= link_to edit_course_exam_exam_question_path(@exam.course, @exam, @exam_question) do %>
    <span class="pencil-icon"><img src="/assets/pencil-icon.png" alt=""></span>
     <% end %>
        </td>
       
        <td><%= @exam_question.exam.title %></td>    
       
          <td>
           <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_exam_exam_question_path(@exam.course, @exam, @exam_question), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
        </td>
      </tr>
    </tbody>
  </table>


<p class="back-course-btn">
  <%= link_to t('.back', :default => t("helpers.links.back")), course_exam_exam_questions_path(@exam.course, @exam), class: 'btn btn-gray' %>
 <%= link_to t('.back', :default => 'Back to courses'), my_courses_courses_path, style: 'margin-left: 5px;', class: 'btn btn-green'  %>
</p>
</div>
</div>