<p class="lead">Classroom Request</legend>
<p>GrowthValley offers a pay what you want model between the teacher and
the learner. Begin by offering a price you are will to pay for private lessons
with this teacher for this course.</p>
<%= simple_form_for @request, url: classroom_requests_path do |f| %>
  <%= f.input :course_id, as: :hidden, input_html: {value: @course.id } %>
  <%= f.input :learner_id, as: :hidden, input_html: {value: current_user.id } %>
  <%= f.input :amount, as: :decimal, label: "Amount" %>
  <%= f.simple_fields_for :comments do |fc| %>
    <%= fc.input :user_id, as: :hidden, input_html: {value: current_user.id } %>
    <%= fc.input :body, as: :text, label: "Attach a message for explain what you'd wish to get
from these lessons.", input_html: {style: "height:100px;width:50%"} %>
  <% end %>
  <%= f.submit "Send Request" %>
<% end %>