<%= simple_form_for @course, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <% if !@course.new_record? && @course.course_cover_pic.present? %>
    <%= f.input :course_cover_pic, required: false %>
    <%= f.label 'existing_course_cover_pic', raw("<strong>Existing Course Cover Pic:</strong> #{image_tag(@course.course_cover_pic_url, class: 'img-rounded')}") %>
  <% else %>
    <%= f.input :course_cover_pic, required: true %>
  <% end %>
  <%= f.input :is_paid, label: 'Is it a paid course', as: :radio_buttons if current_user.subscription_type.downcase == 'paid' %>

  <div class="form-actions">
    <%= f.button :submit, 'Continue' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), courses_path, style: 'margin-left: 5px;' %>
  </div>
<% end %>
