<%= simple_form_for @course, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <% if !@course.new_record? && @course.course_cover_pic.present? %>
    <%= f.input :course_cover_pic, required: false %>
    <div class="control-group file optional existing_course_course_cover_pic">
      <label class="file optional control-label">
        <b>Existing course cover pic</b>
      </label>
      <div class="controls">
        <%= image_tag(@course.course_cover_pic_url, class: 'img-rounded') %>
      </div>
    </div>
  <% else %>
    <%= f.input :course_cover_pic, required: true %>
  <% end %>
  <% if current_user.subscription_type.downcase == 'paid' %>
    <%= f.input :is_paid, label: 'Is it a paid course', as: :radio_buttons %>
  <% end %>
  <p>Classroom settings (optional)</p>
  <%= f.input :classroom_enabled, label: "Accept Requests" %>
  <div class="form-actions">
    <%= f.button :submit, 'Continue', class: 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), my_courses_courses_path, style: 'margin-left: 5px;' %>
  </div>
<% end %>
