<%= simple_form_for @course, html: {multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, class: "course-title-field", placeholder: "Title of Course" %>

  <% if !@course.new_record? && @course.course_cover_pic.present? %>
    <%= f.input :course_cover_pic, required: false %>
    <div class="control-group file optional existing_course_course_cover_pic">
      <label class="file optional control-label">
        <b>Existing course cover pic</b>
      </label>
      <div class="controls">
        <%= image_tag(@course.course_cover_pic_url, class: 'img-rounded') %>
      </div>
    </div>
  <% else %>
    <%= f.input :course_cover_pic, required: true %>
  <% end %>
    <div class="options">
      <h5>Is it a Paid Course?</h5>
      <%= f.input :is_paid, label: 'Yes, It is paid.', as: :radio_buttons %>

      <h5>Classroom settings (optional)</h5>
      <%= f.input :classroom_enabled, label: "Accept Requests" %>
    </div>
    <%= f.button :submit, 'Continue', class: 'btn btn-primary' %>
  </div>
<% end %>
