  <div id="filter" class="all-bundles-filter">
    <div class="all-bundles-filter">
      <%= form_tag(courses_path, :name=>"frmsort", :method=>"get") do %>
      <input name="search" id="Search" type="hidden" value="<%=params[:search]%>" />
      <% if params[:subject].present? %>
      <input name="subject" id="subject" type="hidden" value="<%=params[:subject]%>" />
      <% end %>
      <%=select_tag("order", options_for_select([["Latest","latest"],["Name","name"]], params[:order]), :prompt => "Sort By", :onchange=>"document.frmsort.submit();") %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
   
 <!-- <h1 class="fleft">
    <% #if params[:controller] == "homes" %>
    Most popular courses
    <% #else %>
    <% #if params[:search].present? %>
      Course Search Result
    <% #else %>
      All Courses
    <% #end %>
  <% #end %>
  </h1> -->
    
<div class="main-content bundles">
  <ul class="course-panel">
  <% if @courses.count > 0 %>
    <% @courses.each do |course| %>
      <%= render partial: "courses/single_course", :locals=>{:course => course} %>
    <% end %>

    <%= paginate @courses %>
  <% else %>
  <h6>
	  No Courses available for your search
  </h6>
  <% end %>
  </ul>

  <div class="text-center">
    <form action="<%= courses_path %>" method="get">
      <input type="submit" value="Discover Courses" class="btn btn-green" />
    </form>
  </div>

</div>
<%= javascript_tag do %>
  $(".rateit").bind('rated', function() {
    obj = $(this);
    $(obj).rateit('readonly', 'readonly');

    $.ajax({
      url: "<%= rate_courses_path %>",
      type: "GET",
      data: {
        course_id: $(obj).attr('id').split('_')[1],
        rate: $(obj).rateit('value')
      }
    });
  });
<% end %>
