<div class="main-content courses">
  <div id="filter" style="border-bottom:2px ridge #BBBBBB;padding-bottom:5px;">
    <h1 class="fleft">
    <% if params[:controller] == "homes" %>
		Most popular courses
    <% else %>
		<% if params[:search].present? %>
			Course Search Result
		<% else %>
			All Courses
		<% end %>
	<% end %>
	</h1>
    <div class="courses-filter fright">Order by: <span class="sprite fliterby fright">
      <%= form_tag(courses_path, :name=>"frmsort", :method=>"get") do %>
      <input name="search" id="Search" type="hidden" value="<%=params[:search]%>" />
      <%=select_tag("order", options_for_select([["Latest","latest"],["Name","name"]], params[:order]), :prompt => "Sort By", :onchange=>"document.frmsort.submit();") %>
      <% end %>
      </span></div>
    <div class="clear"></div>
  </div>

  <ul class="courses-box">
    <% @courses.each do |course| %>
      <li>
        <div class="box">
          <span class="cource-img box-grn">
            <%= image_tag(course.course_cover_pic.url(:cover)) %>
          </span>
          <span class="cource-disc">
            <p class="title"><%= course.title.titleize %></p>
            <ol class="cource-dtl">
              <li>Price<br />
                <span><%= course.is_paid ? $7 : 'Free' %></span>
              </li>
              <li><%= course.ratings.count %> Reviews<br/>
                <% if course.ratings.present? && course.ratings.find_by_ip_address(request.remote_ip).present? %>
                  <div id="course_<%= course.id %>_rating" class="rateit" data-rateit-resetable="false" data-rateit-value="<%= course.avg_rating(course.id) %>" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-max="5" data-rateit-min="0" data-rateit-step="1"></div>
                <% else %>
                  <div id="course_<%= course.id %>_rating" class="rateit" data-rateit-resetable="false" data-rateit-value="<%= course.avg_rating(course.id) %>" data-rateit-ispreset="true" data-rateit-readonly="false" data-rateit-max="5" data-rateit-min="0" data-rateit-step="1"></div>
                <% end %>
              </li>
              <li>Students<br />
                <span class="sprite students"></span><%= course.users.where(type: 'Learner').count %>
              </li>
            </ol>
          </span>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="btn1">
    <input name="Discover Courses" type="submit" value="Discover Courses" class="sprite" id="Discover Courses" />
  </div>
</div>

<%= javascript_tag do %>
  $(".rateit").bind('rated', function() {
    obj = $(this);
    $(obj).rateit('readonly', 'readonly');

    $.ajax({
      url: "<%= rate_courses_path %>",
      type: "GET",
      data: {
        course_id: $(obj).attr('id').split('_')[1],
        rate: $(obj).rateit('value')
      }
    });
  });
<% end %>
