<div class="main-content courses">
  <div id="filter" style="border-bottom:2px ridge #BBBBBB;padding-bottom:5px;">
    <h1 class="fleft">
    <% if params[:controller] == "homes" %>
		Most popular courses
    <% else %>
		<% if params[:search].present? %>
			Course Search Result
		<% else %>
			All Courses
		<% end %>
	<% end %>
	</h1>
    <div class="courses-filter fright"><span class="sprite fliterby fright">
      <%= form_tag(courses_path, :name=>"frmsort", :method=>"get") do %>
      <input name="search" id="Search" type="hidden" value="<%=params[:search]%>" />
      <% if params[:subject].present? %>
      <input name="subject" id="subject" type="hidden" value="<%=params[:subject]%>" />
      <% end %>
      <%=select_tag("order", options_for_select([["Latest","latest"],["Name","name"]], params[:order]), :prompt => "Sort By", :onchange=>"document.frmsort.submit();") %>
      <% end %>
      </span></div>
    <div class="clear"></div>
  </div>

  <ul class="courses-box">
  <% if @courses.count > 0 %>
    <% @courses.each do |course| %>
      <%= render partial: "courses/single_course", :locals=>{:course => course} %>
    <% end %>
  <% else %>
	No Courses available for your search
  <% end %>
  </ul>

  <div class="btn1">
    <input name="Discover Courses" type="submit" value="Discover Courses" class="sprite" id="Discover Courses" />
  </div>
</div>

<%= javascript_tag do %>
  $(".rateit").bind('rated', function() {
    obj = $(this);
    $(obj).rateit('readonly', 'readonly');

    $.ajax({
      url: "<%= rate_courses_path %>",
      type: "GET",
      data: {
        course_id: $(obj).attr('id').split('_')[1],
        rate: $(obj).rateit('value')
      }
    });
  });
<% end %>
