<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:is_published?) %></th>
      <th><%= model_class.human_attribute_name(:is_live?) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td>
          <% if course.is_published %>
            <%= check_box_tag :is_published, true, true, { id: "#{course.id}", class: 'is_published' } %>
          <% else %>
            <%= check_box_tag :is_published, false, false, { id: "#{course.id}", class: 'is_published' } %>
          <% end %>
        </td>
        <td><%= course.isCourseLive? %></td>
        <td>
          <%= link_to t('.view', :default => 'Add Test/Quiz'), course_path(course), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_path(course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_path(course), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

      <%= javascript_tag do %>
        $(function() {
          $('.is_published').change(function() {
            var obj = $(this);

            $.ajax({
              url: "<%= publish_unpublish_course_path(course.id) %>",
              cache: false,
              success: function(resp) {
                if(resp.status == 'success') {
                  $(obj).val(resp.data);
                  $(obj).attr('checked', resp.data);
                  $(obj).parent().next().text(resp.data);
                }
                else if(resp.errorCode == '400') {
                  $(obj).val("false");
                  $(obj).removeAttr('checked');
                  alert(resp.data);
                }
                else {
                  alert(resp.data);
                }
              }
            });
          });
        });
      <% end %>

    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_course_path, :class => 'btn btn-primary' %>
