<%= render :partial => "layouts/inner_nav", :locals => { :current => "course" } %>

<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% if current_user.type == 'Teacher' %>
  <% if current_user.subjects.present? %>
    <%= link_to "Add New Course", new_course_path, :class => 'btn pull-right btn-primary' %>
  <% else %>
    For adding courses, first <%= link_to "Add Subjects", user_subjects_path %>
  <% end %>
  </br></br>
  <% if @courses.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:is_published?) %></th>
          <th><%= model_class.human_attribute_name(:is_live?) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title.titleize, course_path(course) %></td>
            <td>
              <% if course.is_published %>
                <%= check_box_tag :is_published, true, true, { id: "#{course.id}", class: 'is_published', onChange: "javascript:toggle_publish('#{course.id}')" } %>
              <% else %>
                <%= check_box_tag :is_published, false, false, { id: "#{course.id}", class: 'is_published', onChange: "javascript:toggle_publish('#{course.id}')" } %>
              <% end %>
            </td>
            <td><%= course.isCourseLive? %></td>
            <td>
              <% unless course.has_active_learners? %>
                <%= link_to 'Manage Sections', sections_course_path(course) %>
                <%= link_to t('.view', :default => 'Manage Exams'), course_exams_path(course), style: 'margin-left: 5px;' %>
                <%= link_to t('.edit', :default => 'Edit Course'), edit_course_path(course), style: 'margin-left: 5px;' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_path(course), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <% if current_user.subjects.present? %>
      You haven't added any courses yet...
    <% end %>
  <% end %>
<% else %>
  <% unless current_user.subjects.present? %>
    For subscribing courses, first <%= link_to "Add Subjects", user_subjects_path %>
  <% end %>
  <%= link_to "View more courses", courses_path, class: 'pull-right btn btn-primary' if @courses.present? %>
  </br></br>
  <% if @courses.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= model_class.human_attribute_name(:progress) %></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title.titleize, course_path(course) %></td>
            <td><%= course.description %></td>
            <% current_subscription = course.subscriptions.where("user_id = ?", current_user.id).first %>
            <% progress_percentage = current_subscription.present? ? current_subscription.progress_percentage : "0" %>
            <td><%= progress_percentage %>% completed</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <% if current_user.subjects.present? %>
      You haven't subscribed for any courses yet...
      <%= link_to "Click here to view courses", courses_path %>
    <% end %>
  <% end %>
<% end %>

<%= paginate @courses %>

<%= javascript_tag do %>
  function toggle_publish(course_id) {
    $.ajax({
      url: "/courses/" + course_id + "/publish_unpublish",
      cache: false,
      success: function(resp) {
        if(resp.status == 'success') {
          $('#'+course_id).val(resp.data);
          $('#'+course_id).attr('checked', resp.data);
          $('#'+course_id).parent().next().text(resp.data);
        }
        else if(resp.errorCode == 1) {
          $('#'+course_id).val("false");
          $('#'+course_id).removeAttr('checked');
          alert(resp.data);
        }
        else if(resp.errorCode == 2) {
          $('#'+course_id).prop('checked', true);
          alert(resp.data);
        }
        else {
          alert(resp.data);
        }
      }
    });
  }
<% end %>
