<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_courses') %>
<% content_for(:title, 'GrowthValley > Courses > My Courses') %>
<%- model_class = Course -%>
<div class="main-content-area my-courses-table">
  <div class="wrapper">
     <div class="mycourses-all">
    <ul class="breadcrumb">
    <li><a href="/courses/my_courses">Courses</a> <span class="divider"></span></li>
     <li><a href="javascript:void(0)">Manage Sections</a></li>
    </ul>
    </div>
  <p>Course Title: <b><%=  @course.title %></b></p>  
  <p>Course Type: <b><%=  @course.content_type %></b></p>  
</div>
 <div class="mycourse-section-table">
          <h4>Course Sections</h4>
        </div>
     <div class="table-responsive">
        <table id="courses_manageExams" class="table table-striped">      
           <thead>
              <tr>
                  <th>Section Title</th>
                  <th>Section Description</th> 
                  <th>Section Attachment</th>
                  <th></th>                 
                </tr>
            </thead>
        <% if @course.sections.present? %>   
            <tbody>
                 <% @course.sections.each do |section| %> 
              <tr>
                   <td>
                        <% if section.title.present? %>
                             <%= section.title %>
                        <% end %>
                   </td>
                   <td>
                      <% if section.description.present? %> 
                          <%= section.description %></td>
                      <% end %>    
                   <td>   
                        <% if section.attachment.present? %> 
                             <%= section.attachment_url %> 
                        <% end %>
                  </td>  
                   <td> <% if section.quizzes.present? %>
              <%= link_to raw("<strong>Manage Tests/Quizzes</strong>"), section_quizzes_path(section) %>
            <% else %>
              <%= link_to 'Add test/quiz', new_section_quiz_path(section)%>
            <% end %></td>                   
              </tr>             
              <% end %>
             </tbody>    
      
  <% else %>
  <tbody>
    <tr>
    
      <td colspan=4 style="text-align:center;"><%= link_to 'Add new section', course_step_path('type') %></td>
 
    </tr>
  </tbody>
  <% end %>
</table>
</div>
<p class="back-course-btn">

  <%= link_to t('.back', :default => t("Back to my courses")), my_courses_courses_path ,class: "btn btn-gray" %>
  <%= link_to t('.edit', :default => t("Edit Course")), edit_course_path(@course), class: "btn btn-green" %>
  <%= link_to t('.destroy', :default => t("Delete Course")), course_path(@course), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "btn btn-green" %>
</p>
