<div class="main-content courses">
  <div>
	  <div style="float:left;">
	  <ul class="courses-box">
		<li style="width:100%">
		  <div class="box">
			<span class="cource-img box-grn">
			  <%= image_tag(@course.course_cover_pic.url(:cover)) %>
			</span>
			<span class="cource-disc">
			  <ol class="cource-dtl">
				<li>Price<br />
				  <span><%= @course.is_paid ? number_to_currency(@course.price, precision: 0) : 'Free' %></span>
				</li>
				<li><%= @course.ratings.count %> Reviews<br/>
				  <% if @course.ratings.present? && @course.ratings.find_by_ip_address(request.remote_ip).present? %>
					<div id="course_<%= @course.id %>_rating" class="rateit" data-rateit-resetable="false" data-rateit-value="<%= @course.avg_rating(@course.id) %>" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-max="5" data-rateit-min="0" data-rateit-step="1"></div>
				  <% else %>
					<div id="course_<%= @course.id %>_rating" class="rateit" data-rateit-resetable="false" data-rateit-value="<%= @course.avg_rating(@course.id) %>" data-rateit-ispreset="true" data-rateit-readonly="false" data-rateit-max="5" data-rateit-min="0" data-rateit-step="1"></div>
				  <% end %>
				</li>
				<li>Students<br />
				  <span class="sprite students"></span><%= @course.users.where(type: 'Learner').count %>
				</li>
			  </ol>
			</span>
		  </div>
		</li>
	  </ul>
	  </div>
	  <div style="margin:12px;">
		  <div class="course-title" style="font-weight: bold; font-size: 12pt;padding-top:20px;"><%= @course.title.titleize %></div>
		  <div class="course-instructor">
			  <% if @course.present? && @course.users.where(type: 'Teacher').present? %>
			    By <%= @course.users.where(type: 'Teacher').first.full_name.titleize %>
			  <% end %>

        <% if current_user.type == 'Learner' %>
          <span style='margin-left: 1em;'>
            <% unless current_user.teacher_subscribed?(@course.slug) %>
              <%= link_to 'Subscribe Teacher', subscribe_teacher_path(@course), :method => :post, class: 'btn' %>
            <% end %>
          </span>
        <% end %>
		  </div><br>
		  <div class="course-instructor">
			  Subject: <%= @course.subject.name %>
		  </div><br>
		  <div class='course-subscribe'>
			<% if current_user.courses.include?(@course) %>
			  <% if @progress == "exam given" %>
  				<%= link_to 'View Exam Result', '#exam_result_dialog', role: 'button', class: 'btn', :'data-toggle' => 'modal' %>
			  <% elsif @progress == "exam reviewed" %>
  				<%= link_to 'View Exam Result', '#exam_result_dialog', role: 'button', class: 'btn', :'data-toggle' => 'modal' %>
			  <% else %>
			    <% if @exam_active %>
  			    <%= link_to("Take Exam", new_learners_exam_path(course_id: @course.slug), class: 'btn btn-primary') %>
			    <% end %>
			  <% end %>
			  <strong>
			    </br></br>
			    Course completion progress: <%= @progress_percentage %>%
			  </strong>
			<% else %>
		      <% if ((current_user.subjects.include?(@course.subject) and current_user.subscription_type == 'free') or current_user.subscription_type == 'paid') %>
			  <% if @course.is_paid %>
				  <%= link_to 'Subscribe Course', new_premium_course_path(course_id: @course.id, subscription_type: "course_subscription"), class: 'btn btn-primary' %>
			  <% else %>
				  <%= link_to 'Subscribe Course', subscribe_course_learner_path(@course), class: 'btn btn-primary' %>
			  <% end %>
			  <% end %>
			  <br>
			  <br>
			  Total Sections: <%=@total_section%>
			<% end %>
		  </div>
		  <div class="course-description" style="text-align:justify;margin-top:10px;"><%= raw(@course.description) %></div>
		  </br>
	  </div>
  </div>
  <div style="clear:both;">
	  <% if current_user.courses.include?(@course) %>
	  <h2>Course Sections:</h2>
	  </br>
	  <ul class="nav nav-tabs">
		<% section_counter=1 %>
		<% classname = 'active' %>
		<% @course.sections.each do |section| %>
			<% if @current_subscription.current_section.present? %>
				<% if @current_subscription.current_section.to_i == section_counter.to_i %>
					<% classname = 'active' %>
				<% else %>
					<% classname = '' %>
				<% end %>
			<% end %>		
			<li class="<%=classname %>">
				<a href="#section_<%= section.id %>" data-toggle="tab">
				  Section <%=section_counter%><%#= section.title.titleize %>
				</a>
			</li>
			<% classname = '' %>
			<% section_counter=section_counter + 1 %>
		<% end %>
	  </ul>

	  <% classname="active" %>
	  <div class='tab-content'>
		<% unlock_counter = 1 %>
		<% unlock = true %>
		<% @course.sections.each do |section| %>
			<% if @current_subscription.current_section.present? %>
				<% if @current_subscription.current_section.to_i == unlock_counter.to_i %>
					<% classname = 'active' %>
				<% else %>
					<% classname = '' %>
				<% end %>
			<% end %>	
		  
		  <div class="tab-pane <%=classname %>" id="section_<%= section.id %>">
			<ul>
			  <li style="padding-left:20px;">
				<%= section.title.titleize %>
			  </li>
			  </br>
			  <li class='pull-right' style='margin-left: 1em;'>
				<% if unlock and @current_subscription.user_type == "Learner" %>
			    <li style="padding-left:20px;">
			      <%= link_to 'Download', section.attachment.url %>
			    </li>
			    </br>
				  <b>
					<% if section.quiz_completed?(current_user.id) %>
					  <li style="padding-left:20px;">
					    <p>Result: You correctly answered <%= section.correct_answers_count(current_user.id) %> out of <%= section.total_no_of_quizzes %> questions</p>
					    </br>
				    </li>
					<% else %>
					  <%= link_to 'Take test', take_test_learners_path(section: section, course: section.course), class: 'pull-right', target: '_blank' %>
					<% end %>
				  </b>
				<% end %>
			  </li>
			</ul>
			  <% if unlock %>
			  <div style="text-align:center;margin-top:10px;">
			    <% if File.extname(section.attachment.url) != '.pdf' %>
			      <% webm_url = "#{section.attachment.url.gsub(/\.\w+$/, '.webm')}" %>
			      <% ogg_url = "#{section.attachment.url.gsub(/\.\w+$/, '.ogg')}" %>

			      <%= video_tag([webm_url, ogg_url], { controls: true, autobuffer: true, width: 'auto', height: 'auto' }) %>
		      <% else %>
		        <object data="<%= section.attachment.url %>" width="800" height="1000">
		          <embed src="<%= section.attachment.url %>" width="800" height="1000">
		        </object>
		      <% end %>
			  </div>
			  <% else %>
			  <div style="text-align:center;margin-top:10px;">
					This section is currently locked. To unlock it kindly study previous sections and give associated test.
			  </div>
			  <% end %>
		  </div>
			<% classname = '' %>
		  <% unlock_counter = unlock_counter + 1 %>
		  <% unlock = false if (@current_subscription.user_type == "Learner" and unlock_counter > @current_subscription.current_section) %>
		<% end %>
	  </div>
	  <% end %>
  </div>
</div>

<div id='exam_result_dialog' class='modal hide fade' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Exam Result</h3>
  </div>
  <div class="modal-body">
    <% if @current_subscription.present? && @current_subscription.progress == 'exam reviewed' %>
      <p>You scored <%= @learners_exams.sum('score') %> out of <%= @learners_exams.size * 10 %></p>
      </br>
      <% if @recommended_courses.present? %>
        <div id='recommended_courses'>
          <%= @course.users.where(type: 'Teacher').first.full_name %> has recommended following courses for you:
          </br>
          <% @recommended_courses.each do |rc| %>
            <div>
              <%= link_to rc.course.title.titleize, course_path(rc.course.slug) %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Your exam results are waiting to be reviewed. Once done, you will be notified via email.</p>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(".rateit").bind('rated', function() {
    obj = $(this);
    $(obj).rateit('readonly', 'readonly');

    $.ajax({
      url: "<%= rate_courses_path %>",
      type: "GET",
      data: {
        course_id: $(obj).attr('id').split('_')[1],
        rate: $(obj).rateit('value')
      }
    });
  });
<% end %>
