<%= render :partial => "layouts/inner_nav", :locals => { :current => "bundle" } %>

<%- model_class = Bundle -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%=link_to :back_to_bundles ,bundles_path%>
<br/><br/>
<%=simple_form_for @bundle, html: {multipart: true} do |f|%>
<%=f.input :name%>
<%=f.input :price%>
<%=f.label :bundle_pic%>
<%=f.file_field :bundle_pic%>
<% if @bundle.bundle_pic_url.present? %>
  <%= image_tag @bundle.bundle_pic_url(:thumb) %>
<% end %>
<div>
<%= f.association :courses, :collection => current_user.courses.all_published, as: :check_boxes %>
</div>
<%=f.button :submit%>
<%end%>
