<li>
	<p class="title">
	      <% if current_user && current_user.type == "Learner" %>
		      <%= link_to bundle.name.titleize, bundle_path(bundle) %>
	      <% else %>
		      <%= bundle.name.titleize %>
	      <% end %>
	</p>
	<div class="course-panel-box">
        <span class="green-panel">
             <% if current_user && current_user.type == "Learner" %>
	    	<%= link_to image_tag(bundle.bundle_pic.url(:cover)), bundle_path(bundle) %>
	  		<% else %>
	    		<%= image_tag(bundle.bundle_pic.url(:cover)) %>
	  		<% end %>
	  	</span>
  		<span class="course-panel-disc">
                <ol class="cource-dtl">
                 <li>Price<br />
		      		<span>
		        	<%= number_to_currency(bundle.price) %>
	        		</span>	
	      			</li>
	      		</ol>
	     </span>
    
  	</div>
</li>