<li>
	   <p class="title">
	      <% if current_user && ['Learner', 'Teacher'].include?(current_user.type) %>
		      <%= link_to bundle.name.titleize, bundle_path(bundle) %>
	      <% else %>
		      <%= bundle.name.titleize %>
	      <% end %>
	    </p>
  <div class="bundle-panel-box">
    <span class="course-img box-grn green-panel">
	  <% if current_user && current_user.type == "Learner" %>
	    <%= link_to image_tag(bundle.bundle_pic.url(:cover)), bundle_path(bundle) %>
	  <% else %>
	    <%= image_tag(bundle.bundle_pic.url(:cover)) %>
	  <% end %>
    </span>
    <span class="course-panel-disc">	 
	    <ol class="course-dtl">
	      <li>
	        Price<br />
		      <span>
		        <%= number_to_currency(bundle.price) %>
	        </span>
	      </li>
	      <li>
	    </ol>
    </span>
  </div>
</li>