<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_bundles') %>
<% content_for(:title, 'GrowthValley > My Account > Personal') %>
<!--Start Main Content Area-->
<div class="main-content-area wrapper my-bundles-page">  
  <!--Start My Bundles Area-->
  <div class="bundles">
              <ul class="breadcrumb">
                  <li><a href="javascript:void(0)">My Bundles</a></li>
              </ul>

  <% if current_user.type == 'Teacher' %>
  <% if current_user.courses.present? %>      
      <h6>You haven't added any bundles yet...</h6>      
      <div class="add-new-bundle-btn"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Add New Bundle</a></div>
  <!--<%= link_to "Add New Bundle", new_bundle_path, :class => 'btn pull-right btn-green' %>-->
    <% else %>
          <h6>For adding bundles, first</h6> 
           <p><%= link_to "Add Courses", my_courses_courses_path, class:"btn btn-green" %></p>
    <% end %>
</div>
</div>
    <% if @bundles.present? %>
    <table class="table table-striped" id="bundles_requested">
      <thead>
       <tr>
         <th><%= Bundle.human_attribute_name(:title) %></th>
         <th><%= Bundle.human_attribute_name(:active?) %></th>
         <th><%= Bundle.human_attribute_name(:available?) %></th>
         <th><%= t '.actions', :default => t("helpers.actions") %></th>
       </tr>
     </thead>

     <tbody>
      <% @bundles.each do |bundle| %>
      <tr>
        <td><%= link_to bundle.name.titleize, bundle_path(bundle) %></td>
        <td>
          <% if bundle.active %>
          <%= check_box_tag "bundle_active_#{ bundle.id }", bundle.active, bundle.active, { :disabled => true } %>
          <% else %>
          <%= check_box_tag "bundle_active_#{ bundle.id }", bundle.active, bundle.active, { :data => { :confirm => "This action cannot be undone! Are you sure you want to continue?", :remote => true, url: make_active_bundle_path(bundle) } } %>
          <% end %>
        </td>
        <td>
          <% if bundle.active %>
          <%= check_box_tag "bundle_available_#{ bundle.id }", bundle.available, bundle.available, { :data => { :remote => true, url: toggle_available_bundle_path(bundle) } } %>
          <% else %>
          <%= check_box_tag "bundle_available_#{ bundle.id }", bundle.available, bundle.available, { :disabled => true, :data => { :remote => true, url: toggle_available_bundle_path(bundle) } } %>
          <% end %>
        </td>

        <td>
          <%= link_to t('.view', :default => 'View Bundle'), bundle_path(bundle) %>
          <%- unless bundle.active -%>
          <span id='modify_actions'>
            <%= link_to t('.edit', :default => 'Edit Bundle'), edit_bundle_path(bundle), style: 'margin-left: 5px;' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), bundle_path(bundle), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
          </span>
          <%- end -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <% if current_user.subjects.present? %>
  You haven't added any bundles yet...
  <% end %>
  <% end %>
  <% else %>
  <%= link_to "View more bundles", bundles_path, class: 'pull-right btn btn-primary' if @bundles.present? %> 
  <% if @bundles.present? %>
  <table class="table table-striped" id="bundles_requested">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @bundles.each do |bundle| %>
      <tr>
        <td><%= link_to bundle.name.titleize, bundle_path(bundle) %></td>
        <td><%= link_to "Download Bundle", bundle.download_link, :class => 'btn btn-primary' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h6>You haven't subscribed for any bundles yet...</h6>
  <p><%= link_to "View All Bundles", bundles_path , class:"btn btn-green" %></p></div></div> 
  <% end %>
  <% end %>

  <%= paginate @bundles %>

<!--End My Bundles Area-->
<!--Start Modal-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Bundle</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>-->
    </div>
  </div>
</div>
<!--End Modal-->

