<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_bundles') %>
<% content_for(:title, 'GrowthValley > My Courses > Bundles') %>
<div class="main-content-area wrapper my-bundles-table">
  <div class="mybundles-all">
  	<ul class="breadcrumb">
    <li><a href="javascript:void(0)">Bundles</a> <span class="divider"></span></li>
	<li><a href="javascript:void(0)"><%= @bundle.name.titleize %></a></li>
    </ul>
	<ul class="courses-box bundle-panel bundle-name">
		    <li>
		      <div class="bundle-panel-box">
			      <span class="cource-img box-grn green-panel">
			        <%= image_tag(@bundle.bundle_pic.url(:cover)) %>
			      </span>
			      <span class="bundle-panel-disc">
			        <ol class="bundle-dtl">
				        <li>Price<br />
				          <span><%= number_to_currency(@bundle.price) %></span>
				        </li>
			        </ol>
			      </span>
		      </div>
		    </li>
            <li> 	  
				 <p class="t-name"><%= @bundle.name.titleize %></p>
		 		 <p><% if @bundle.present? && @bundle.teacher.present? %>
			    	By <%= @bundle.teacher.full_name.titleize %>
			  		<% end %>
			  	</p>
        <% if current_user.type == 'Learner' %>
          <p>
            <% unless current_user.teacher_subscribed?(@bundle.teacher) %>
              <%= link_to 'Subscribe Teacher', subscribe_teacher_path(@bundle.teacher), :method => :post, class: 'btn btn-green' %>
            <% end %>
          </p>
        <% end %>	
		  
		  <% if @bundle.purchased?(current_user.id) %>
		    <p id="download_bundle">
		      <%= link_to "Download Bundle", @bundle.download_link, :class => "btn btn-green" %>
		    </p>
	    <% else %>
		    <p id="buy_bundle">
		      <%= link_to "Buy Bundle", new_transaction_path(resource_type: @bundle.class.to_s, resource_id: @bundle.id), :class => "btn btn-green" %>
		    </p>
	    <% end %>	  
	  </li>      
</ul>  

  <div class="bundle-courses-tabs">
    <h4>Bundle Courses:</h4>    
    <ul class="courses-box bundle-panel bundle-name">
		  <% @bundle.courses.each do |course| %>
		    <%= render partial: "courses/single_course", :locals=>{ :course => course } %>
		  <% end %>
	  </ul>
  </div>
  </div>
</div>

<%= javascript_tag do %>
  $(".rateit").bind('rated', function() {
    obj = $(this);
    $(obj).rateit('readonly', 'readonly');

    $.ajax({
      url: "<%= rate_courses_path %>",
      type: "GET",
      data: {
        course_id: $(obj).attr('id').split('_')[1],
        rate: $(obj).rateit('value')
      }
    });
  });
<% end %>
