<%- model_class = Exam -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <% if @exam.present? %>
    <tbody>
      <tr>
        <td><%= link_to @exam.title, course_exam_path(@course, @exam) %></td>
        <td><%= @exam.course.title %></td>
        <td>
          <%= link_to 'Manage Exam Questions', course_exam_exam_questions_path(@course, @exam) %>
          | <%= link_to t('.new', :default => t("helpers.links.add_question")), new_course_exam_exam_question_path(@course, @exam) %>
          | <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_exam_path(@course, @exam), style: 'margin-left: 5px;' %>
          | <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_exam_path(@course, @exam), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= link_to t('.new', :default => "New Exam"), new_course_exam_path(@course) unless @exam.present? %>
<%= link_to t('.back', :default => 'Back to courses'), my_courses_courses_path, style: 'margin-left: 5px;', class: 'btn' %>
