<%- model_class = Exam -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @exam.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @exam.course.title %></dd>
  <dt><strong>Manage Exam Questions:</strong></dt>
  <dd>
  <% if @exam.exam_questions.count == 0 %>
  <%= link_to 'Add Exam Questions', new_course_exam_exam_question_path(@course, @exam) %>
  <% else %>
  <%= link_to 'Manage Exam Questions', course_exam_exam_questions_path(@course, @exam) %>
  <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), course_exams_path(@course) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_course_exam_path(@course, @exam), style: 'margin-left: 5px;' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), course_exam_path(@course, @exam), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, style: 'margin-left: 5px;' %>
  <%= link_to t('.back', :default => 'Back to courses'), my_courses_courses_path, style: 'margin-left: 5px;'  %>
</div>
