<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>
        <b>Amount: </b>
        <% if @course.present? %>
          <%= number_to_currency(@course.price) %>
        <% else %>
          <%= number_to_currency(7) %>
        <% end %>
      </span>
    </label>
  </article>

  <%= hidden_field_tag :course_id, @course.id if @course.present? %>
  <%= hidden_field_tag :subscription_type, params[:subscription_type] if params[:subscription_type].present? %>
  </br>
  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          <% if @course.present? %>
            data-amount="<%= @course.price.to_i * 100 %>"
          <% else %>
            data-amount="700"
          <% end %>>
  </script>
<% end %>
