<div class="footer">
  <span class="footer-logo sprite"></span>
  <span class="social-logo">
    <a href="https://www.facebook.com/pages/Growthvalley/624417170959038" target="_blank" class="sprite fb"></a>
    <a href="https://twitter.com/Growthvalley" target="_blank" class="sprite tw"></a>
  </span>

  <div class="clear"></div>

  <div class="col-l">
	  <ul class="footerlink">
	    <li><a href="<%= (current_user && current_user.type == 'Learner') ? learners_path : root_path %>">Home</a></li>
	    <li><a href="/coming_soon">Information</a></li>
	    <li><a href="/coming_soon">Contact</a></li>
	    <li><a href="/coming_soon">for organizations</a></li>
	    <li><a href="/coming_soon">for people</a></li>
	    <li><a href="/coming_soon">FAQ</a></li>
	    <li><a href="/coming_soon">how it works</a></li>
	  </ul>
  </div>

  <div class="col-l">
    <%= form_tag(contact_us_path, method: :post, multipart: true) %>
	    <h2>CONTACT US</h2>
	    <ul>
	      <li>
	        <%= text_field_tag :name, '', placeholder: 'name', required: true, id: 'name', class: 'sprite' %>
	      </li>
	      <li>
	        <%= email_field_tag :email, '', placeholder: 'E-Mail', required: true, id: 'email', class: 'sprite email', style: 'padding-left: 30px; width: 192px;' %>
	      </li>
	      <li>
	        <%= text_area_tag :message, '', placeholder: 'message', required: true, id: 'message', class: 'text sprite' %>
	      </li>
	      <li>
	        <%= recaptcha_tags %>
	      </li>
	      <li>
	        </br>
		      <input name="OK" type="submit" value="" class="sprite" />
	      </li>
	    </ul>
  </div>

  <!--
    <div class="col-r">
	    <h2>LASTEST TWEETS</h2>
	    <span class="tweet"> @mateuzord: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tortor purus, hendrerit eget varius vitae, dictum eget massa.
	      <p>february, 12 - 2012</p>
	    </span>
    </div>
	-->
</div>

<%= javascript_tag do %>
  $(function() {
    $('#recaptcha_response_field').attr('required', true);
  });
<% end %>
