<div class="footer">
  <span class="footer-logo sprite"></span>
  <span class="social-logo">
    <a href="https://www.facebook.com/pages/Growthvalley/624417170959038" target="_blank" class="sprite fb"></a>
    <a href="https://twitter.com/Growthvalley" target="_blank" class="sprite tw"></a>
  </span>

  <div class="clear"></div>

  <div class="">
	  <ul class="footerlink">
	    <li><a href="<%= (current_user && current_user.type == 'Learner') ? courses_path : root_path %>">Home</a></li>
	    <li><a href="<%= information_homes_path %>">Information</a></li>
	    <li><a href="<%= contact_homes_path %>">Contact</a></li>
	    <li><a href="<%= for_organizations_homes_path %>">for organizations</a></li>
	    <li><a href="<%= for_people_homes_path %>">for people</a></li>
	    <li><a href="<%= faq_homes_path %>">FAQ</a></li>
	    <li><a href="<%= how_it_works_homes_path %>">how it works</a></li>
	  </ul>
  </div>

  <div class="col-l" style="display:none;">
  </div>

  <!--
    <div class="col-r">
	    <h2>LASTEST TWEETS</h2>
	    <span class="tweet"> @mateuzord: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tortor purus, hendrerit eget varius vitae, dictum eget massa.
	      <p>february, 12 - 2012</p>
	    </span>
    </div>
	-->
</div>
