<ul class="nav nav-tabs">
  <li class='<%= (current == "user") ? "active" : "" %>'>
    <%= link_to "Personal", edit_user_registration_path %>
  </li>
  <li class='<%= (current == "subject") ? "active" : "" %>'>
    <%= link_to "My Subjects", user_subjects_path %>
  </li>
  <li class='<%= (current == "course") ? "active" : "" %>'>
    <%= link_to "My Courses", my_courses_courses_path %>
  </li>
  <% if current_user.type == 'Teacher' %>
    <li class='<%= (current == "exam") ? "active" : "" %>'>
      <%= link_to "Review Exams", my_exams_path %>
    </li>
  <% end %>
  <li class='<%= (current == "subscription") ? "active" : "" %>'>
    <%= link_to "Subscriptions/Payment", charges_path %>
  </li>
  <li class='<%= (current == "notification") ? "active" : "" %>'>
    <%= link_to "Notifications", notification_path %>
  </li>
</ul>
