<ul class="nav nav-tabs">
  <li class='<%= (current == "user") ? "active" : "" %>'>
    <%= link_to "Personal", edit_user_registration_path %>
  </li>
  <li class='<%= (current == "subject") ? "active" : "" %>'>
    <%= link_to "My Subjects", user_subjects_path %>
  </li>
  <li class='<%= (current == "course") ? "active" : "" %>'>
    <%= link_to "My Courses", my_courses_courses_path %>
  </li>
  <li class='<%= (current == 'classrooms') ? 'active' : "" %>'>
  <%= link_to "My Classrooms", classrooms_path %>
  </li>
  <li class='<%= (current == "bundle") ? "active" : "" %>'>
    <%= link_to "My Bundles", my_bundles_bundles_path %>
  </li>
  <% if current_user.type == 'Teacher' %>
    <li class='<%= (current == "review_exam") ? "active" : "" %>'>
      <%= link_to "Review Exams", review_exams_path %>
    </li>
    <li class='<%= (current == "reviewed_exam") ? "active" : "" %>'>
      <%= link_to "Reviewed Exams", reviewed_exams_path %>
    </li>
  <% end %>
  <li class='<%= (current == "subscription") ? "active" : "" %>'>
    <%= link_to "Subscriptions/Payment", charges_path %>
  </li>
  <li class='<%= (current == "notification") ? "active" : "" %>'>
    <%= link_to "Notifications", notification_path %>
  </li>
  <li class='<%= (current == "analytics") ? "active" : "" %>'>
    <%= link_to "Analytics", course_analytics_path %>
  </li>
</ul>
