<ul class="sprite menu">
  <li class="<%=(@current_menu == "home") ? "current" : ""%>"><a href="<%=(current_user && current_user.type == 'Learner') ? dashboard_path : root_path %>">HOME</a></li>
  <li class="<%=(@current_menu == "about_us") ? "current" : ""%>"><a href="<%= about_us_homes_path %>">ABOUT US</a></li>
  <li class="<%=(@current_menu == "courses") ? "current" : ""%>"><a href="<%= courses_path %>">COURSES</a></li>
  <li class="<%=(@current_menu == "resources") ? "current" : ""%>"><a href="<%= resources_homes_path %>">RESOURCES</a></li>
  <li class="<%=(@current_menu == "blog") ? "current" : ""%>"><a href="<%= blog_homes_path %>">BLOG</a></li>
  <li class="<%=(@current_menu == "contact") ? "current" : ""%>"><a href="<%= contact_homes_path %>">CONTACT</a></li>
</ul>
