<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/gv.css" type="text/css" rel="stylesheet" />
<title><%= content_for?(:title) ? yield(:title) : "GrowthValley" %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
</head>
<body>
<div class="wrapper">
  <div class="top-header">
    <div class="fleft"> <span class="discover sprite fleft">
      <select name="">
        <option selected="selected">Discover</option>
      </select>
      </span> <span class="topsearch-bar sprite fleft">
      <input name="search" id="Search" type="text" maxlength="100" value="Search" onfocus="if (this.value=='Search') this.value = ''" onblur="if (this.value=='') this.value = 'Search'" />
      <input name="submit" type="button" class="sprite"; />
      </span>
    </div>
    <div class="fright"> <span class="language sprite fright">
      <select name="">
        <option selected="selected">English</option>
      </select>
      </span>
      <ul class="top-menu">
        <li><a href="javascript:void(0);">Teach Online</a></li>
        <% if current_user %>
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", "javascript:login();" %>
          </li>
          <li>
            <%= link_to "Signup", "javascript:signup();" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-inner" style="height:472px;">
    <% if current_user.type == 'Teacher' %>
      <a href="<%= root_path %>">
    <% else %>
      <a href="<%= learners_path %>">
    <% end %>
        <span class="sprite logo"></span>
      </a>
  </div>
</div>

<div class="bottom-wrapper-out" style="margin: -280px auto 0;">
  <div class="bottom-wrapper-in">
    <%= bootstrap_flash %>
    <div style='padding: 5px 20px;'>
      <%= yield %>
    </div>
    <div class="footer"> <span class="footer-logo sprite"></span> <span class="social-logo"><a href="javascript:void(0);" class="sprite fb"></a> <a href="javascript:void(0);" class="sprite tw"></a></span>
      <div class="clear"></div>
      <div class="col-l">
        <ul class="footerlink">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="javascript:void(0);">Information</a></li>
          <li><a href="javascript:void(0);">Contact</a></li>
          <li><a href="javascript:void(0);">for organizations</a></li>
          <li><a href="javascript:void(0);">for people</a></li>
          <li><a href="javascript:void(0);">FAQ</a></li>
          <li><a href="javascript:void(0);">how it works</a></li>
        </ul>
      </div>
      <div class="col-l">
        <h2>CONTACT US</h2>
        <ul>
          <li>
            <input name="name" type="text" value="name" id="name" class="sprite" />
          </li>
          <li>
            <input name="EMAIL" type="text" value="EMAIL" id="EMAIL" class="sprite" />
          </li>
          <li>
            <textarea name="MESSAGE" cols="20" rows="4" class="sprite">MESSAGE</textarea>
          </li>
          <li>
            <input name="OK" type="submit" value="" class="sprite" />
          </li>
        </ul>
      </div>
      <div class="col-r">
        <h2>LASTEST TWEETS</h2>
        <span class="tweet"> @mateuzord: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tortor purus, hendrerit eget varius vitae, dictum eget massa.
        <p>february, 12 - 2012</p>
        </span> </div>
    </div>
  </div>
</div>
</body>
</html>
