<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/gv.css" type="text/css" rel="stylesheet" />
<title><%= content_for?(:title) ? yield(:title) : "GrowthValley" %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
</head>
<body>
  <!-- Start Overlay -->
  <div id="overlay"></div>
  <!-- End Overlay -->

  <!-- Start Special Centered Box -->
  <div id="specialBox">
    <span><%=image_tag("loading.GIF")%></span>
  </div>
  <!-- End Special Centered Box -->

<%= render partial: "layouts/top_header" %>

<div class="wrapper">
  <div class="wrapper-inner" style="height:472px;">
      <a href="<%=(current_user) ? dashboard_path : root_path %>">
        <span class="sprite logo"></span>
      </a>
        <%= render partial: "layouts/top_menu" if @show_top_menu.present? and @show_top_menu == true %>
      </a>
  </div>
</div>

<div class="bottom-wrapper-out" style="margin: -280px auto 0;">
  <div class="bottom-wrapper-in">
    <%= bootstrap_flash %>
    <div style='padding: 5px 10px;'>
      <%= yield %>
    </div>
	<%= render partial: "layouts/footer" %>
</div>
</body>
</html>
