<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6">
<![endif]-->
<!--[if IE 7]>
<html id="ie7">
<![endif]-->
<!--[if IE 8]>
<html id="ie8">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<title><%= content_for?(:title) ? yield(:title) : "GrowthValley Homepage" %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "home_new", :media => "all" %>
<!--[if lte IE 8]>
    <%= stylesheet_link_tag "home_new/ie" %>
    <%= javascript_include_tag "home_new/modernizr.min" %>
<![endif]-->
        
<!--[if lte IE 6]>
    <%= javascript_include_tag "home_new/belated" %>
    <%= javascript_include_tag "home_new/ie6" %>
<![endif]-->
<%= javascript_include_tag "home_new" %>
</head>
<body class=<%= content_for?(:body_class) ? yield(:body_class) : "" %>>
<div id="container-fluid">
    <!--Start Header -->
    <% if user_signed_in? %>
      <%= render 'layouts/shared/inner_header' %>
    <% else %>
      <%= render 'layouts/shared/header' %>
    <% end %>
    <!--End Header -->
    
    <%= yield %>
    <!--Start Footer-->
    <%= render 'layouts/shared/footer' %>
    <!--End Footer-->
    
</div><!--container-fluid -->

</body>
</html>
